.sinthia{
    width: 400px;
    height: 400px;
    background-color:aquamarine;
    /* padding-top: 40px;
    padding-left: 40px;
    padding-right:30px;
    padding-bottom: 50px; */
    /* padding: 80px; */
    padding: 40px 30px 40 px 60;
    
    p{
        color: black;
    }
}